body {
  background: linear-gradient(
    rgb(184, 184, 197),
    rgb(195, 201, 200),
    rgb(212, 204, 212)
  );
}
#homeimg {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  filter: brightness(70%);
}

#container {
  position: relative;
}

#bio {
  color: #fff;
  position: absolute;
  width: 100%;
  top: 30%;
  text-align: center;
  font-size: 18px;
}

#bio h2 {
  font-size: 35px;
  font-family: cursive;
}

#bio p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 23px;
}
